---
import ListRestrictions from "./ListRestrictions.astro"
import ListPolicy from "./ListPolicy.astro"
import ListPriceSeason from "./ListPriceSeason.astro"
import ListProduct from "./ListProduct.astro"
import ListProductEdit from "./ListProductEdit.astro"
import ListRatePlan from "./ListRatePlan.astro"
import ListVariant from "./ListVariant.astro"

const { products, roomsByHotel } = Astro.props
console.log("products", products)
---

<main class="main-wrapper">
	<section id="section-projects" class="main-section">
		<header class="sub-tabs sub-header sub-header--default">
			<button data-tab="general" class="sub-tab border-b border-white pb-1 font-semibold text-white"
				>Información General</button
			>
			<button data-tab="edit" class="sub-tab">Políticas y Servicios</button>
		</header>

		<div id="section-projects-general" class="sub-content">
			<ListProduct products={products} />
		</div>
		<div id="section-projects-edit" class="sub-content hidden">
			<ListProductEdit products={products} />
		</div>
	</section>

	<section id="section-products" class="main-section hidden">
		<header class="sub-tabs sub-header sub-header--default">
			<button data-tab="room" class="sub-tab-active">Habitaciones</button>
		</header>

		<div id="section-products-room" class="sub-content">
			<ListVariant products={products} roomsByHotel={roomsByHotel} />
		</div>
	</section>

	<section id="section-rates" class="main-section hidden">
		<header class="sub-tabs sub-header sub-header--default">
			<button
				data-tab="season"
				class="sub-tab border-b border-white pb-1 font-semibold text-white"
				>Ajuste de Temporada Alta</button
			>
			<button data-tab="offer" class="sub-tab">Planes tarifarios</button>
		</header>

		<div id="section-rates-season" class="sub-content">
			<ListPriceSeason products={products} roomsByHotel={roomsByHotel} />
		</div>
		<div id="section-rates-offer" class="sub-content hidden">
			<ListRatePlan products={products} roomsByHotel={roomsByHotel} />
		</div>
	</section>

	<section id="section-policies" class="main-section hidden">
		<header class="sub-tabs sub-header">
			<button data-tab="establishment" class="sub-tab-active"> Hotel / Alojamientos </button>
		</header>

		<div class="sub-content">
			<ListPolicy products={products} roomsByHotel={roomsByHotel}/>
		</div>
	</section>

	<section id="section-restrictions" class="main-section hidden">
		<header class="sub-tabs sub-header">
			<button data-tab="establishment" class="sub-tab-active"> Hotel / Alojamientos </button>
		</header>
		<div class="sub-content">
			<ListRestrictions products={products} />
		</div>
	</section>
</main>
<style>
	.main-wrapper {
		@apply rounded-3xl bg-beaver-900/50 p-6 shadow-lg;
	}

	.main-section {
		@apply md:p-6;
	}

	.sub-header {
		@apply mt-1 grid grid-cols-2 gap-3 border-b border-neutral-800 text-sm md:grid-cols-3 lg:text-base;
	}

	.sub-header--default {
		@apply grid-cols-2 md:grid-cols-3;
	}

	.sub-tab-active {
		@apply border-b border-white pb-1 font-semibold text-white;
	}

	.sub-content {
		@apply mt-4;
	}
</style>
