---
const { products } = Astro.props

const getTypePath = (type: any) =>
	type === "Hotel" ? "hotels" : type === "Tour" ? "tours" : "packages"
---

{
	products.map((el: any) => (
		<div class="flex flex-col gap-9 border-b border-neutral-800 pb-3 md:gap-20">
			<div class="my-12 mt-8 rounded-lg px-3 py-2 transition-colors hover:bg-black/40">
				<a href={`/${getTypePath(el.productType)}/${el.id}`}>
					<p class="font-medium text-neutral-100 lg:text-xl">{el.name}</p>
					<small class="text-neutral-400">{el.productType}</small>
				</a>
			</div>

			<div class="grid grid-cols-2 gap-3 text-xs text-neutral-400 md:grid-cols-3 md:gap-6 md:gap-9 md:text-base lg:grid-cols-4">
				<a
					href={`/product/${el.id}/content`}
					class="rounded-lg border border-neutral-800 p-2 text-center hover:text-white md:px-3"
				>
					Cambiar Información General del Negocio
				</a>
				<a
					href={`/product/${el.id}/subtype`}
					class="rounded-lg border border-neutral-800 p-2 text-center hover:text-white md:px-3"
				>
					Cambiar Detalles del Negocio
				</a>
				<a
					href={`/product/${el.id}/images`}
					class="rounded-lg border border-neutral-800 p-2 text-center hover:text-white md:px-3"
				>
					Editar Imágenes
				</a>
			</div>
		</div>
	))
}
