---
const { products, roomsByHotel } = Astro.props
---

{
	products
		.filter((p: any) => p.productType === "Hotel")
		.map((hotel: any) => (
			<div class="flex flex-col gap-9 border-b border-neutral-800 pb-3 md:gap-20">
				<div class="my-12 mt-8 px-3 py-2">
					<p class="font-medium text-neutral-100 lg:text-xl">{hotel.name}</p>
					<small class="text-neutral-400">{hotel.productType}</small>
				</div>

				<div class="grid grid-cols-2 gap-3 text-xs text-neutral-400 md:grid-cols-3 md:gap-6 md:gap-9 md:text-base lg:grid-cols-4">
					{roomsByHotel[hotel.id]?.map((room: any) => (
						<a
							href={`products/${hotel.id}/rate-plans/${room.id}`}
							class="hover:text-white border border-neutral-800 rounded-lg p-2 md:px-3 text-center"
						>
							{room.name}
						</a>
					))}
				</div>
			</div>
		))
}
