---
import { ROOM_TYPES } from "@/data/room-types"
import Layout from "@/layouts/Layout.astro"
import { db, eq, Product } from "astro:db"
import { getSession } from "auth-astro/server"

const hotelId = Astro.params.id
const session = await getSession(Astro.request)
if (!session) return Astro.redirect("/SignInPage")

let hotelDetails
if (hotelId) {
	hotelDetails = await db.select().from(Product).where(eq(Product.id, hotelId)).get()
}

const roomTypes = ROOM_TYPES
---

<Layout title="Configurar Habitaciones">
	<article
		class="mx-auto mt-20 w-11/12 rounded-3xl border border-neutral-300 bg-neutral-200 p-8 text-neutral-800 shadow-lg sm:p-10 md:max-w-6xl lg:p-16"
	>
		<h2 class="font-semibold md:text-2xl">CONFIGURACIÓN DE HABITACIONES</h2>
		<p class="mb-8 text-sm text-neutral-500">
			Define los precios y la disponibilidad de los tipos de habitación para tu hotel.
		</p>

		{
			hotelDetails && (
				<p class="mb-6 text-center text-base text-neutral-600">
					<span class="font-semibold">{hotelDetails.name}</span>
				</p>
			)
		}

		<form
			id="hotelRoomTypeForm"
			method="post"
			class="flex flex-col gap-8"
			data-form-type="hotelRoomType"
		>
			<input type="hidden" name="hotelId" value={hotelId} />

			{/* Grid responsivo */}
			<div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
				{
					roomTypes.map((roomType) => (
						<div class="rounded-2xl border border-neutral-300 bg-neutral-300 p-6 shadow-sm backdrop-blur-sm transition duration-200 hover:shadow-lg">
							<h3 class="text-lg font-semibold text-neutral-900">
								{roomType.name} ({roomType.maxOccupancy} personas)
							</h3>
							<p class="mb-4 text-sm text-neutral-500">{roomType.description}</p>

							<input type="hidden" name="roomTypeId" value={roomType.id} />
						</div>
					))
				}
			</div>

			<div class="mt-12 flex justify-end">
				<button
					type="submit"
					class="h-14 w-44 rounded-xl bg-blue-600 font-medium text-white shadow-md transition duration-200 hover:bg-blue-700 hover:shadow-lg"
				>
					Guardar Configuraciones
				</button>
			</div>
		</form>
	</article>
</Layout>

<script src="/src/lib/forms/formHandler"></script>
